@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sansita+Swashed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rochester&display=swap');

:root {
    --amarillo: #FFC83C;
    --twitter: #3AB8E0;
    --facebook: #4A66F6;
    --instagram: #F64A9D;
}

.btn-black {
    background: black;
    color: white;
}

.btn-black:hover {
    background: #212121;
    color: white;
}

.font-rochester {
    font-family: 'Rochester', cursive;
    color: black;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.redondeo {
    border-radius: 2em;
}

/* TAMAÑOS DE LETRAS */
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

/* COLORES DE LETRAS */

.text-amarillo {
    color: var(--amarillo);
}

.text-twitter {
    color: var(--twitter);
}

.text-facebook {
    color: var(--facebook);
}

.text-instagram {
    color: var(--instagram);
}

/* LOGO */
.img-logo {
    width: 10.2rem;
    height: 5rem;
}

.list-style-none {
    list-style: none;

}

.text-cafe {
    color: #402718;
}

.bg-cafe {
    background: #402718;
}

.bg-cafec {
    background: #B16117;
}

.bg-cafeo {
    background: #CB7321;
}

.b-hover:hover {
    color: #CB7321;
}

.i-hover {
    color: black;
}

.i-hover:hover {
    color: #CB7321;
}

/* home */
.card-hover {
    transition: 0.5s;
}

.card-hover:hover {
    transform: scale(1.01);
}

.card-hover-blur {
    transition: .4s;
}

.card-hover-blur:hover {
    filter: blur(4px);
}

.img-home {
    height: 250px;
}

.font-sansita {
    font-family: 'Sansita Swashed',
        cursive;
}

.font-lobster {
    font-family: 'Lobster',
        cursive;
}

/* Text product home */

.font-producto {
    color: white;
}

.font-producton {
    color: black;
}

.font-productoc {
    color: #422918;
}

/* CONTACTO */

.img-contacto {
    width: 60em;
    height: 20em;
}

/* SD */
.hover-scale-sm {
    transition: .5s;
}

.hover-scale-sm:hover {
    transform: scale(1.02);
}

/* MD */
.hover-scale-md {
    transition: .5s;
}

.hover-scale-md:hover {
    transform: scale(1.05);
}

/* LG */
.hover-scale-lg {
    transition: .5s;
}

.hover-scale-lg:hover {
    transform: scale(1.1);
}

/* XL */
.hover-scale-xl {
    transition: .5s;
}

.hover-scale-xl:hover {
    transform: scale(1.2);
}

/* ANIMACIONES */
.slider-lr {
    /* animation: tiempo-animacion, fluides, tiempo-despues del load de windows, repeticiones, funcion */
    animation: 1s ease-in-out 0s 1 sliderLeftToRight;
}

.slider-rl {
    animation: 1s ease-in-out 0s 1 sliderRightToLeft;
}

.slider-updown {
    animation: 1s ease-in-out 0s 1 sliderUpToDown;
}

.opacity-animation {
    animation: 1.5s ease-in-out 0s 1 imgOpacity;
}

@keyframes Opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes sliderLeftToRight {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }

    50% {
        transform: translateX(10%);
        opacity: 0.5;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes sliderRightToLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    50% {
        transform: translateX(-10%);
        opacity: 0.5;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes sliderUpToDown {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    50% {
        transform: translateY(10%);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* LOGIN */

.text-black {
    color: black;
}

.btn-carrito {
    color: gray;
    transition: .2s;
}

.btn-carrito:hover {
    --tw-text-opacity: 1;
    background: rgba(220, 38, 38, var(--tw-text-opacity));
    color: white;
}

@media (min-width: 768px) {
    .img-card-carrito {
        width: 10em;
        height: 10em;
    }
}